/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
  color: white;
  background: url(images/bgpattern.jpg);
}
a{color:black;}
ol, ul {
  list-style: none;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  max-width: 100%;
  font: 1.3em italic;
  padding: 15px;
  quotes: "\201C""\201D""\2018""\2019";
  box-shadow: 6px 3px 15px black;
  /* text-align: center; */
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
	color: #ccc;
	content: close-quote;
	font-size: 4em;
	line-height: 0.4;
	margin-right: 0.25em;
	vertical-align: 0;
	display: block;
	position: relative;
	top: 25px;
}
blockquote p {
	font-style:italic;
  /* display: inline; */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*main splash page*/

/*headers*/
header {padding:50px;
		}
header img{
	float: left;
}
header, section {
	background-color:#3b5998;
	margin: auto;
	text-align: center;
	/* z-index: 0; */
	border-radius: 15px;
	max-width: 95%;
	display: block;
	}
h1 {font:bold 3em Verdana,serif;}
h2 {
    font: bold 2em Verdana,serif;
}

h3 {
	/* vertical-align:top; */
	font: 1.5em Verdana, serif;
	/* text-decoration: underline; */
	color: #dfe3ee;
	padding: 10px 10px 0 10px;
	}
[href*="facebook.com"]::before{
	content: url(images/facebook.png);
	padding-right:10px;
}	
[href^="mailto"]::before{
	content: url(images/Mail.png);
	padding-right:10px;
	}
nav {

display:inline-block;
margin: auto;
border-radius: 0 0 15px 15px;
text-align: center;

position:fixed;

width: 100%;

top: 0;

padding: 10px;

z-index: 1;

background: #3b5998;
}
nav li {
	display:inline-block;
	padding: 2px 10px;
}
nav li a{	color:white;
}
/*sections*/
section {
		width: 100%;
		margin: 20px auto;
		padding: 30px 0;
		}
.subsection {
margin:10px auto;
padding: 30px 0 0 0;}
section>p {
	width: 50%;
	text-align: center;
	margin:1em auto;
	
}
		
.imagedemo ul li {
    line-height: 1.5;
    margin: auto;
    list-style: circle;
}

.imagedemo ul {
    /* background: #8b9dc3; */
    margin: auto 40%;
    text-align: left;
    /* max-width: 50%; */
}
.logo{
	display:inline-block;
	background-color: #8b9dc3;
	color:white;
	padding:8px;
	border-radius: 10px;
	padding-top:10px;
	}
.blurb {
    width: 30%;
    color: black;
    margin: auto;
    display: inline-block;
	vertical-align:top;
}

#ethics {
    min-height: 1000px;
}
#ethics a .blurb blockquote:hover{border-radius:30px;}
#features {padding:20px;
}
.imagedemo, .arrowbetween {
	display: inline-block;
	margin: 10px;
	vertical-align:top;
	width: 30%;

	}
.arrowbetween img{
	max-width:100%;
	height: 400px;
	margin: 50px 5px;
}
.imagedemo img {
	max-width:100%;
	max-height:100%;
	margin:20px auto;
	display:block;
	border: 1px solid black;
	box-shadow: 3px 5px 20px 0px black;
	}
#howitworks .imagedemo img:last-of-type{
	border: none;
	box-shadow: none;
}
#solution table{
		margin: 20px auto;
	}
#solution th{
	color:#3b5998;
	font:bold 1.2em Times New Roman,serif;}
#solution table td, table th{
	padding: 20px;
	color:black;
	border-left: 1px dashed black;}
#solution tr td:first-child, #solution tr th:first-child{border-left:none;}
#solution p{width:75%}

#solution tr:nth-child(even){background-color:#dfe3ee}
#solution tr:nth-child(odd){background-color:white;}
#team {
	border:2px dotted black;
	margin:auto;
	max-width:40%;
	min-height:260px;
	background:white;
	padding:20px;
	color:black;}
#team a{display: block;
color:blue;
padding:10px 5px 0 0;}
.bashu {
		padding: 20px;
	max-width:50%;
	float:right;
	}
.bashu img{
	max-width:100%;
	border:1px solid black;
	display:inline-block;
border-radius:16px;}
.bashu-blurb{
	padding:20px;
	text-align: center;
	max-width: 50%;
	margin: 0;}

